*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0 15px; 
  }

/* navbar */



.nav-content{
    display: flex;
    justify-content:space-between ;
    padding: 40px 0 40px 0;
}
.nav-list ul{
    display: flex;
    list-style: none;
    padding-left: 40px;
}
.nav-list ul li{
    padding-left: 20px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 14px;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* /////////// */