*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0 35px !important; 
  }
}
.container {
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0 15px; 
  }
h1,h2,h3,h4,h5,p{
    font-family: "Inter", sans-serif;
}

  .header {
    background: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
     position: relative;


  }


/* navbar */

/* .navbar{
    position: fixed;
    top: 0;      
    left: 0;       
    width: 100%;   
    z-index: 1000;
  
} */

.nav-content{
    display: flex;
    justify-content:space-between ;
    padding: 30px 0 30px 0;
}
.nav-list ul{
    display: flex;
    list-style: none;
    padding-left: 30px;
}
.nav-list ul li{
    padding-left: 25px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav-appbadges{
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 575.98px) {
  .container {
    padding: 0 20px; 
  }
 .nav-content{
  display: none;
 }
 .navres-right{
  display: none;
 }
 .navres-content {
  padding: 20px 0;
}

.navbar-res-bar,
.navbar-res-close {
  font-size: 24px;
  cursor: pointer;
  color: #000;
}
.res-appbadges{
  display: none;
}
.navbar-res-close {
  display: none; 
}
.navres-list {
  z-index: 11;
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 400px;
  cursor: pointer;
}
.navres-left {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.navres-logo {
  margin-right: auto; 
}

.navres-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navres-list ul li {
  padding: 30px 0;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
}
@media only screen and (min-width: 1025px){
  .navbar-res{
    display: none;
  } 
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    padding: 0 20px; 
  }
 
 .nav-content{
  display: none;
 }
 .navres-right{
  display: none;
 }
 .navres-content {
  padding: 20px 0;
}
.res-appbadges{
  display: none;
}
.navbar-res-bar,
.navbar-res-close {
  font-size: 24px;
  cursor: pointer;
  color: #000;
}
.navbar-res-close {
  display: none; 
}
.navres-list {
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  padding: 15px 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
  height: 400px;
}
.navres-left {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
.navres-logo {
  margin-right: auto; 
}

.navres-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navres-list ul li {
  padding: 30px 0;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-content{
    display: none;
   }
 
   .navres-content {
    padding: 20px 0;
  }
  
  .navbar-res-bar,
  .navbar-res-close {
    font-size: 24px;
    cursor: pointer;
    color: #000;
  }
  .navbar-res-close {
    display: none; 
  }
  .navres-list {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background: #fff;
    padding: 15px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    height: 400px;
    z-index: 11;
  }
  .navres-left {
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  
  .navres-logo {
    margin-right: auto; 
  }
  
  .navres-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .navres-list ul li {
    padding: 30px 0;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
  }
  .res-appbadges{
    margin-right: 25px;
  }
  .res-appbadges img{
    width: 230px;
  }
}

/* /////////// */


/* banner */


.banner-leftcolumn h2{
 
    font-size: 60px;
    width: 600px;
    padding-top: 170px;

}
.banner-leftcolumn p{
    font-family: "Inter", serif;
    font-size: 18px;
    width: 580px;
    line-height: 25px;
    padding-top: 20px;
  
}
.banner-btns{
    display: flex;
    align-items: center;
    gap: 35px;
    padding-top: 25px;
}
.banner-btnone{
    background-color:#7C3AED ;
color: white;
    width: 110px;
    height: 48px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.banner-btntwo{
    border: none;
    background-color: transparent;
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 10px;
    color: #7C3AED;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.banner-row{
    display: flex;
    gap: 220px;
    width: 100%;
    
}
.banner-leftcolumn{
  width: 50%;
}
.banner-rightcolumn{
  
    width: 50%;
   
}
.banner-rightcolumn img{
    position: absolute;
    top: 13%; 
    left: 63%;
    object-fit: cover;
    width: 370px;
    height: auto;
   padding-top: 50px;
}
@media only screen and (min-width: 320px) and (max-width: 375.98px) {
  .banner-row{
    display: flex;
    flex-direction: column;
    gap: 220px;
    width: 100%;
}
.banner-leftcolumn,.banner-rightcolumn {
  width: 100%;
}

.banner-leftcolumn h2 {
  font-size: 33px;
  width: 100%;
  padding-top: 62px;
}
.banner-leftcolumn p {
  width: 100%;
  line-height: 29px;
  font-size: 16px;
  color: #374151;
}

.banner-row .banner-btnone {
  width: 130px;
  height: 52px;
  font-size: 16px;
}
.banner-rightcolumn img {
  position: absolute;
  top: 67%;
  left: -8%;
  object-fit: cover;
  width: 342px;
  height: auto;
  padding-top: 0px;
  margin-left: 40px;
}
.banner-btntwo{
  width: 115px;
}
}
@media only screen and (min-width: 376px) and (max-width: 428px) {
  .banner-row{
    display: flex;
    flex-direction: column;
    gap: 220px;
    width: 100%;
}
.banner-leftcolumn h2 {
  font-size: 33px;
  width:100%;
  padding-top: 62px;
}
.banner-leftcolumn,.banner-rightcolumn {
  width: 100%;
}
.banner-leftcolumn p {
  width: 100%;
  line-height: 29px;
  font-size: 16px;
  color: #374151;
}

.banner-row .banner-btnone {
  width: 130px;
  height: 52px;
  font-size: 16px;
}
.banner-rightcolumn img {
  position: absolute;
  top: 50%;
  left: 5%;
  object-fit: cover;
  width: 370px;
  height: auto;
  padding-top: 0px;
}
.banner-btntwo{
  width: 115px;
}
}
@media only screen and (min-width: 428px) and (max-width:767px) {
  .banner-row{
    display: flex;
    flex-direction: column;
    gap: 220px;
    width: 100%;
}
.banner-leftcolumn,.banner-rightcolumn {
  width: 100%;
}
.banner-leftcolumn h2 {
  font-size: 33px;
  width: 100%;
  padding-top: 62px;
}
.banner-leftcolumn p {
  width: 100%;
  line-height: 29px;
  font-size: 16px;
  color: #374151;
}

.banner-row .banner-btnone {
  width: 130px;
  height: 52px;
  font-size: 16px;
}
.banner-rightcolumn img {
  position: absolute;
  top: 44%;
  left: 8%;
  object-fit: cover;
  width: 370px;
  height: auto;
  padding-top: 50px;
}
.banner-btntwo{
  width: 115px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner-row{
    flex-direction: column;
    width: 100%;
}
.banner-leftcolumn  {
  width: 100%;
}
.banner-rightcolumn  {
  width: 100%;
}
.banner-leftcolumn h2 {
  font-size: 40px;
  width: 600px;
  padding-top: 70px;
}
.banner-leftcolumn p {
  font-size: 16px;
}
.banner-rightcolumn img {
  top: 38%;
  left: 26%;
 
}
}
@media only screen and (min-width: 900px) and (max-width: 1024px) {
  .banner-rightcolumn img {
    top: 40%;
    left: 26%;
  }
  .company-logos {
    padding-top: 239px !important;
  }
}
@media only screen and (min-width: 1024.99px) and (max-width: 1199px) {
  .banner-rightcolumn img {
    top: 13%;
    left: 63%;
    width: 313px;
  }
  .banner-leftcolumn h2 {
    font-size: 52px;
    padding-top: 96px;
  }
  .banner-leftcolumn p {

    font-size: 16px;
  }
  .company-logos {
    padding-top: 0px !important;
  }
}
/* ///company-logos */
.company-logos{
    padding-top: 110px;
}
.cmpny-logos-list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.cmpny-logos-list ul li{
    list-style: none;
}
.logos-line {
    width: 100%;
    height: 1px; 
    background-color: #cccccc38;
    margin: 50px 0; 
  }
  @media only screen and (min-width: 320px) and (max-width: 375.98px) {
    .cmpny-logos-list ul{
      display: none;
  }
  .company-logos{
    padding-top: 400px;

}
.mobile-logos-list{
  display: flex;
  text-align: center;
}
.mobile-logos-list img {
  padding-top: 30px;
}
.mobile-logos-list div:nth-child(1) img:nth-child(3) {
padding-left: 30px;
}
.logos-line {
  margin: 30px 0 0px 0;
}
  }
  @media only screen and (min-width: 376px) and (max-width: 428px)  {
    .cmpny-logos-list ul{
      display: none;
  }
  .company-logos{
    padding-top: 233px;
}
.mobile-logos-list{
  display: flex;
  text-align: center;
}
.mobile-logos-list img {
  padding-top: 30px;
}
.mobile-logos-list div:nth-child(1) img:nth-child(3) {
padding-left: 30px;
}
.mobile-logos-list div:nth-child(1){
  width: 45%;
}
.mobile-logos-list div:nth-child(2){
  width: 50%;
}
.logos-line {
  margin: 30px 0 0px 0;
}
  }
  @media only screen and (min-width: 768px) {
    .mobile-logos-list{
      display: none !important;
    }
  }
  @media only screen and (min-width: 428px) and (max-width:767px) {
    .cmpny-logos-list ul{
      display: none;
  }
  .company-logos{
    padding-top: 237px;
}
.mobile-logos-list{
  display: flex;
  text-align: center;
}
.mobile-logos-list img {
  padding-top: 30px;
}
.mobile-logos-list div:nth-child(1) img:nth-child(3) {
padding-left: 30px;
}
.mobile-logos-list div:nth-child(1){
  width: 45%;
}
.mobile-logos-list div:nth-child(2){
  width: 50%;
}
.logos-line {
  margin: 30px 0 0px 0;
}
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .cmpny-logos-list ul{
      display: none;
  }
  .tablet-logos-list div:nth-child(1) img {
    margin-left: 50px;
    text-align: center;
 
  
    }
    .tablet-logos-list div:nth-child(2) img {
      margin-left: 50px;
      text-align: center;
    
      }
      .tablet-logos-list div {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-wrap: wrap; 
        gap: 0px; 
        padding-top: 30px;
      }
    
      .tablet-logos-list img {
        max-width: 100px; 
         
      }
      .logos-line {
        width: 100%;
        height: 1px;
        background-color: #cccccc38;
        margin: 30px 0px 13px 0px;
      }
    
  }
  @media only screen and (min-width: 280px) and (max-width: 767.99px) {
.tablet-logos-list{
  display: none;
}

  }
@media only screen and (min-width: 1025px) {
  .tablet-logos-list{
    display: none;
  }
  }

  

/* ////// */

/* //tailor */
.tailormade{
    padding-top: 50px;
}
.tailormade-head h1{
    font-family: "Inter", sans-serif;
    font-size: 47px;
    text-align: center;
}.tailormade-head p{
 
    font-size: 18px;
    text-align: center;
    width: 800px;
    margin: auto;
    line-height: 30px;
    padding-top: 20px;
}
.tailormade-bottom{
    padding-top: 70px;
}
.tailormade-bottom-up{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}
.tailormade-bottom-up .one{
display: flex;
flex-direction: column;
align-items: center;
gap: 17px;
}
.tailormade-bottom-up .one img{
    width: 32px;
}
.tailormade-bottom-up .one h3{
font-size: 28px;
}
.tailormade-bottom-up .one p{
    font-size: 15px;
    width: 350px;
    line-height: 22px;
    }

    .tailormade-bottom-down{
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 50px;
        padding-top: 70px;
    }
    .tailormade-bottom-down .one{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 17px;
        }
        .tailormade-bottom-down .one img{
            width: 32px;
        }
        .tailormade-bottom-down .one h3{
        font-size: 28px;
        }
        .tailormade-bottom-down .one p{
            font-size: 15px;
            width: 350px;
            line-height: 22px;
            }



            @media only screen and (min-width: 320px) and (max-width: 575px) {
              .tailormade-head h1 {
                width: 200px;
                text-align: center;
                margin: auto;
                font-size: 36px;
              }
              .tailormade-head p {
                font-size: 16px;
                width: 289px;
            
              }
              .tailormade-bottom-up {
                flex-direction: column;
              }
              .tailormade-bottom-down {
                flex-direction: column;
              }
              .tailormade-bottom-up .one h3 {
                font-size: 24px;
              }
              .tailormade-bottom-down .one h3 {
                font-size: 24px;
              }
              .tailormade-bottom-up .one p {
                font-size: 15px;
                width: 253px; 
            }
            .tailormade-bottom-down .one p {
              font-size: 15px;
                width: 253px;
            }
          }
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            .tailormade-head h1 {
              font-size: 36px;
            }
            .tailormade-head p {
              font-size: 16px;
              width: 82%;
            }
            .tailormade-bottom{
              display: flex;
              justify-content: center;
              gap: 60px;
          }
          .tailormade-bottom-up {          
            flex-direction: column;        
          }
          .tailormade-bottom-down {
            display: flex;
            flex-direction: column;
            padding-top: 0;
          }
          .tailormade-bottom-down .one h3 {
            font-size: 24px;
          }
          .tailormade-bottom-up .one h3 {
            font-size: 24px;
          }
          .tailormade-bottom-down .one p {
            font-size: 14px;
            width: 254px;
       
          }
          .tailormade-bottom-up .one p {
            font-size: 14px;
            width: 254px;
           
          }
          }
          @media only screen and (min-width: 1025px) and (max-width: 1199px) {
            .tailormade-bottom-up {
              gap: 10px;
            }
            .tailormade-bottom-down {
              gap: 10px;
            }
            .tailormade-bottom-up .one h3 {
              font-size: 22px;
            }
            .tailormade-bottom-up .one p {
              font-size: 14px;
              width: 325px;
            
            }
            .tailormade-bottom-down .one h3 {
              font-size: 22px;
            }
            .tailormade-bottom-down .one p {
              font-size: 14px;
              width: 325px;
            
            }
          }
       /* //////// */

       /* ////real */


       .real{
        margin-top: 100px;
        padding-top: 70px;
        padding-bottom: 100px;
        background-color: #D5FAFC;
       }
       .real-row{
        display: flex;
        width: 100%;
       }
       .real-leftcolumn{
        width: 50%;
       }
       .real-rightcolumn{
        width: 50%;
        padding-top: 95px;
       }

       .real-leftcolumn-top{
        position: relative;
       }

       .real-leftcolumn-top img {
           width: 101px;
           opacity: 0.2;
           
      }
       .real-leftcolumn-top h1{
        font-size: 37px;
       }
       .real-leftcolumn-top p{
        font-size:14px ;
        padding-top: 10px;
       }
       .real-head{
        position: absolute;
        top: 38px;
         left: 71px;
    }
    .real-leftcolumn{
display: flex;
flex-direction: column;
gap: 110px;
padding-left: 160px;
    }
    .real-leftcolumn-bottom {
        background-color: white;
        width: 280px;
        height: 300px;
        padding: 23px 0px 23px 23px;
        margin-left: 165px;
    border-radius: 8px;

    }
   
    .real-hubspot img{
        width: 12px;
        height: 10px;
        opacity: 0.4;
    }
    .real-hubspot{
        display: flex;
        padding-top: 17px;
        gap: 10px;

    }
    .real-hubspot p{
        font-size: 13px;
        width: 210px;
        line-height: 22px;
    }
    .real-hubspot > div > h5 {
        padding-top: 20px;
    }
    .real-hubspot > div > p:nth-of-type(2){
        font-size: 11px;
        color: #6B7280;
    } 

    .real-rightcolumn-top {
        background-color: white;
        width: 355px;
        height: 235px;
        padding: 23px 0px 23px 23px;
     
    border-radius: 8px;
    }
    .real-rightcolumn-top img:nth-child(1){
       width: 75px;
    }
    .real-rightcolumn-top .real-airbnb > img {
        width: 12px;
        height: 10px;
        opacity: 0.4;
      }
      .real-rightcolumn-top .real-airbnb{
        display: flex;
        gap: 10px;
        padding-top: 20px;
      }
      .real-rightcolumn-top .real-airbnb p{
        line-height: 22px;
      }
      .real-rightcolumn-top .real-airbnb p:nth-of-type(1){
        font-size: 13px;
        width: 280px;
      }
      .real-rightcolumn-top .real-airbnb h5{
        padding-top: 20px;
      }
      .real-rightcolumn-top .real-airbnb p:nth-of-type(2){
        font-size: 11px;
        width: 280px;
        color: #6B7280;
      }

      .real-rightcolumn-bottom {
        background-color: white;
        width: 280px;
        height: 191px;
        padding: 23px 0px 23px 23px;
       
    border-radius: 8px;
    margin-top: 23px;
    }
    .real-rightcolumn-bottom img:nth-child(1){
       width: 75px;
    }
    .real-rightcolumn-bottom .real-strapi > img {
        width: 12px;
        height: 10px;
        opacity: 0.4;
      }
      .real-rightcolumn-bottom .real-strapi{
        display: flex;
        gap: 10px;
        padding-top: 20px;
      }
      .real-rightcolumn-bottom .real-strapi p{
        line-height: 22px;
      }
      .real-rightcolumn-bottom .real-strapi p:nth-of-type(1){
        font-size: 13px;
        width: 209px;
      }
      .real-rightcolumn-bottom .real-strapi h5{
        padding-top: 20px;
      }
      .real-rightcolumn-bottom .real-strapi p:nth-of-type(2){
        font-size: 11px;
        width: 280px;
        color: #6B7280;
      }
      @media only screen and (min-width: 320px) and (max-width: 575px) {
        .real {
          padding-top: 50px;
        }
        .real-row{
          display: flex;
          flex-direction: column;
          width: 100%;
         }
         .real-leftcolumn {
          padding-left: 0px;
          width: 100%;
        }
        .real-leftcolumn-top img {
          width: 80px;
        }
        .real-leftcolumn-top h1 {
          font-size: 27px;
          width: 281px;
        }
        .real-head {
          top: 30px;
          left: 9px;
        }
        .real-leftcolumn-bottom {
          width: 100%;
          margin-left:0px;

        }

        .real-rightcolumn {
          width: 100%;
          padding-top: 28px;
        }
        .real-rightcolumn-top {
          height: 282px;
          width: 100%;
        }
        .real-rightcolumn-top .real-airbnb p:nth-of-type(1) {
          font-size: 13px;
      width: 180px;
        }
        .real-hubspot p {
          width: 200px;
         
        }
  
        .real-rightcolumn-bottom {
     
          width:100%;
      
        }

        
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .real-row {
          flex-direction: column;
        }
        .real-leftcolumn {
          width: 100%;
          padding-left: 0px;
        }
        .real-rightcolumn {
          width: 100%;
        }
        .real-leftcolumn-top h1 {
          font-size: 32px;
        }
        .real-head {
          top: 37px;
          left: 8px;
        }
        .real-leftcolumn-bottom {
          width: 100%;
          margin-left: 0px;
          height: 220px;
        }
        .real-hubspot p {
          font-size: 15px;
          width: 100%;
        }
        .real-rightcolumn-top {
          width: 100%;
          height: 200px;
        }
        .real-rightcolumn {
          width: 100%;
          padding-top: 20px;
        }
        .real-rightcolumn-top .real-airbnb p:nth-of-type(1) {
          font-size: 15px;
          width: 100%;
          padding-right: 24px;
        }
        .real-rightcolumn-bottom {
          width: 100%;
          height: 171px;
        }
        .real-rightcolumn-bottom .real-strapi p:nth-of-type(1) {
          font-size: 15px;
          width: 100%;
        }
      }
      @media only screen and (min-width: 1025px) and (max-width: 1199px) {
        .real-leftcolumn {
          padding-left: 0px;
        }
      }
      /* ////////achievements */
    .achievements-row{ 
        display: flex;
         width: 100%;
         padding: 80px 0 80px 0;
     }
     .achievements-leftcolumn{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
     }
      .achievements-leftcolumn,.achievements-rightcolumn{
         width: 50%;
         
      }
      .achievements-leftcolumn h1{
        font-size: 42px;
         width: 300px;
      }
      .achievements-leftcolumn p{
        font-size: 16px;
        padding-top: 10px;
        
      }
   
      .achievements-rightcolumn-top{
        display: flex;
        gap: 80px;
      }
      .achievements-rightcolumn-bottom{
        display: flex;
        gap: 118px;
        padding-top: 50px;
      }
     .achievements-rightcolumn-topone{
        display: flex;
        gap: 20px;
        align-items: center;
     }
     .achievements-rightcolumn-topone img{
     width: 28px;
      height: 28px;
     }
     .achievements-rightcolumn-topone > div:nth-child(2) > h3 {
        font-size: 34px;
      }
      .achievements-rightcolumn-topone > div:nth-child(2) > p{
        font-size: 14px;
        color: #111827;
      }
      .achievements-rightcolumn-topone .countries{
        width: 40px;
        height: 38px;
      }

      @media only screen and (min-width: 320px) and (max-width: 575px) {


        .achievements-row{ 
          flex-direction: column;
       }
       .achievements-rightcolumn-top{
        flex-direction: column;
        gap: 25px;
        padding-top: 40px;
      }
      .achievements-rightcolumn-bottom{
        flex-direction: column;
        gap: 25px;
        padding-top: 25px;
      }
      .achievements-leftcolumn h1 {
        font-size: 32px;
      }
      .achievements-leftcolumn,.achievements-rightcolumn{
        width: 100%;
        
     }
     .achievements-leftcolumn p {
      font-size: 14px;
    }
    .achievements-rightcolumn-topone > div:nth-child(2) > h3 {
      font-size: 26px;
    }
    .achievements-rightcolumn-topone > div:nth-child(2) > p {
      font-size: 12px;
    }
    .achievements-row {
      padding: 65px 0 35px 0;
    }
      }

      @media only screen and (min-width: 768px) and (max-width: 1024px) {

        .achievements-row {
          flex-direction: column;
          padding: 45px 0 65px 0;
        }
        .achievements-leftcolumn, .achievements-rightcolumn {
          width: 100%;
          padding-top: 40px;
        }
        .achievements-leftcolumn h1 {
          font-size: 35px;
          width: 100%;
        }
        .achievements-rightcolumn-top {
          gap: 158px;
        }
        .achievements-rightcolumn-bottom {
          gap: 199px;
        }
        .achievements-rightcolumn-topone > div:nth-child(2) > h3 {
          font-size: 30px;
        }
      }
      /* ///// */

      /* ///integration */
      .integration{
        padding-bottom: 80px;
      }
      .integration-row{
        display: flex;
        width: 100%;
      }
      .integration-leftcolumn{
        width: 48%;
      }
      .integration-rightcolumn{
        width: 52%;
      }
      .integration-leftcolumn{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .integration-leftcolumn h1{
        font-size: 42px;
        width: 400px;
      }
      .integration-leftcolumn p{
        font-size: 16px;
        padding-top: 10px;
        width: 411px;
        line-height: 23px;
      }
      .integration-line{
        width: 100%;
        height: 1px; 
        background-color: #F3F4F6;
        margin-top: 50px;
    
      }
      .integration-rightcolumn img{
        width: 450px;
      }
      .integration-rightcolumnlogos ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
      }
      .integration-rightcolumnlogos ul li{
        list-style: none;
      }
   .integration-rightcolumnlogos ul li img{
    width: 55px;
    height: 55px;
   }
   .integration-rightcolumn{
    position: relative;
   }
   .integration-rightcolumnlogos{
    position: absolute;
    top: 15%;
    left: 6%;
   }
   .integration-rightcolumnlogos ul:nth-child(2){
    padding-top: 45px;
   }
   @media only screen and (min-width: 320px) and (max-width: 575px) {
    .integration {
      padding-bottom: 35px;
    }
    .integration-row {
      flex-direction: column;
    }
    .integration-leftcolumn h1 {
      font-size: 27px;
      width: 100%;
      padding-top: 25px;
    }
    .integration-leftcolumn p {
      font-size: 14px;
      width: 100%;
    }
    .integration-rightcolumn {
      width: 100%;
      margin-top: 35px;
    }
    .integration-leftcolumn{
      width: 100%;
    }
    .integration-rightcolumn img {
      width: 100%;
      position: relative;
    }
    .integration-rightcolumnlogos ul {
      gap: 58px;
    }
    .integration-rightcolumnlogos ul li img {
      width: 35px;
      height: 35px;
      position: absolute;
    }
    .integration-rightcolumnlogos {
      top: 16%;
      left: 15%;
    }
    .integration-rightcolumnlogos ul:nth-child(2) {
      padding-top: 55px;
    }
   }

   @media only screen and (min-width: 410px) and (max-width: 575px) {

    .integration-rightcolumnlogos ul {
      gap: 77px;
    }
    .integration-rightcolumnlogos ul li img {
      width: 42px;
      height: 42px;
    }
    .integration-rightcolumnlogos ul:nth-child(2) {
      padding-top: 79px;
    }
   }

   @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .integration-leftcolumn h1 {
      font-size: 32px;
      width: 270px;
    }
    .integration-leftcolumn p {
      font-size: 15px;
      width: 268px;
    }
    .integration-rightcolumn img {
      width: 352px;
    }
    .integration-rightcolumnlogos ul li img {
      width: 38px;
      height: 38px;
    }
    .integration-rightcolumnlogos ul {
      gap: 43px;
    }
    .integration-rightcolumnlogos {
      top: 14%;
      left: 10%;
    }
    .integration-leftcolumn,.integration-rightcolumn {
      width: 50%;
    }
   
   }
   @media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .integration-rightcolumnlogos ul:nth-child(2) {
      padding-top: 34px;
    }
  }

   /* /////projects */

   .projects{
    background-color: #1DB5BE;
   }
   .projects-row{
    display: flex;
    width: 100%;
   }
   .projects-leftcolumn,.projects-rightcolumn{
    width: 50%;
   }
 
   .projects-leftcolumn div > h1{
    font-size: 42px;
    width: 500px;
    padding-top: 100px;
   }
   .projects-leftcolumn div >p{
    font-size: 16px;
    padding-top: 10px;
    width: 500px;
    font-weight: 400;
    line-height: 23px;
   }
   .projects-leftcolumn div:nth-child(2) >p{
    font-size: 16px;
    padding-top: 45px;
    width: 500px;
    
   }
   .projects-leftcolumn div:nth-child(2) >img{
   width: 235px;
   padding-top: 10px;
   }
   .projects-rightcolumn{
    display: flex;
   }
   .projects-rightcolumn div:nth-child(2) > img{
    padding-top: 160px;
   }
   @media only screen and (min-width: 320px) and (max-width: 575px) {
    .projects-row{
    flex-direction: column;
     }
     .projects-leftcolumn,.projects-rightcolumn{
      width: 100%;
     }
     .projects-rightcolumn{
   flex-direction: column;
     }
     .projects-leftcolumn div > h1 {
      font-size: 27px;
      width: 100%;
      padding-top: 50px;
    }
    .projects-leftcolumn div > p {
      font-size: 14px;
      width: 100%;
    }
    .projects-rightcolumn div:nth-child(2) > img {
      padding-top: 0;
      width: 100%;
    }
    .projects-rightcolumn div:nth-child(1) > img {
      padding-top: 30px;
      width: 100%;
    }
    .projects-leftcolumn div:nth-child(2) > p {

      width: 200px;
    }
   }
   @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .projects-row {
      flex-direction: column;
    }
    .projects-leftcolumn, .projects-rightcolumn {
      width: 100%;
    }
    .projects-leftcolumn div > h1 {
      font-size: 34px;
      width: 100%;
      padding-top: 65px;
    }
    .projects-leftcolumn div > p {
      width: 90%;

    }
    .projects-rightcolumn {
      padding-top: 40px;
      padding-left: 30px;
    }
   }
   @media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .projects-rightcolumn img{
      width: 265px;
    }
  }
   /* //////footer */

   .footer{
    background-color: #000000;
    color: white;
    /* padding: 60px 160px 60px 108px ; */
   }
   .footer li{
    font-family: "Inter", sans-serif;
   }
   .footer-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
   }
   .footer-leftcolumn,.footer-rightcolumn{
    width: 50%;
   }
   .footer-leftcolumn {
    padding: 60px 0px;
   }
   .footer-leftcolumn ul li{
    list-style: none;
    font-size: 14px;
    cursor: pointer;
   }
   .footer-leftcolumn ul{
    display: flex;
    gap: 25px;
    padding-top: 20px;
   }
   .footer-leftcolumn p{
    padding-top: 25px;
    font-size: 12px;
    color: #D1D5DB;
   }
   .footer-rightcolumn p{
    font-size: 14px;
    color: #D1D5DB;
    padding-right: 40px;
   }
   .footer-rightcolumn div > img{
    display: block;
    padding-top: 16px;
    width: 100px;
   }

   .footer-rightcolumn {

    display: flex; 
    flex-direction: column;
    align-items: flex-end; 
  justify-content: center;
  padding:60px 50px 60px;
  }
  
  .footer-rightcolumn div > img {
    display: block; 
    width: 120px;
    margin-left: auto;
  }
  @media only screen and (min-width: 320px) and (max-width: 575px) {

    .footer-row{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      
     }
     .footer-leftcolumn,.footer-rightcolumn{
      width: 100%;
     }
     .footer-leftcolumn ul li {

      font-size: 12px;
    }
    .footer-leftcolumn {
      padding: 60px 0px 30px 0px;
    }
    .footer-leftcolumn ul {
  
      gap: 12px;
    }
    .footer-rightcolumn {

      display: flex; 
      flex-direction: column;
      align-items: flex-start; 
    justify-content: center;
    padding:0px 0px 30px 0px;
    }
  }



  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .footer-rightcolumn {
      padding: 60px 5px 60px 0px;
    }
  }

